:root {
  --bg:   hsl(345, 12%, 5%);
  --bg-2: hsl(345, 17%, 9%);
  --fg: #bbb;
  --row-height: 100px;

  --S: #e01c19;
  --A: #e96432;
  --B: #ffb93b;
  --C: #1cb254;
  --D: #00a5fd;
  --E: #5625d2;
  --F: #9825d2;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-size: 16px;
  font-family: sans-serif;
  background-color: var(--bg);
  color: var(--fg);
  padding: 1rem;
  margin: 0;
}

header {
  padding: 1em 0;
}

button {
  user-select: none;
  padding: 1em;
  background-color: var(--bg-2);
  color: var(--fg);
  font-size: 1rem;
  font-weight: bold;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  filter: brightness(1.2);
}

button:active {
  filter: brightness(0.8);
}

.tier {
  display: flex;
  flex-wrap: nowrap;
  background-color: var(--bg-2);
  border-radius: 5px;
  overflow: hidden;
  height: var(--row-height);
  gap: 1em;
  margin: 5px 0;
}

.tier>label {
  user-select: none;
  display: inline-block;
  border-radius: 5px;
  width: 2ch;
  flex-shrink: 0;
  color: var(--bg);
  font-size: 4rem;
  text-align: center;
}

#tray>.tier {
  flex-wrap: wrap;
}

img {
  border-radius: 5px;
  flex-shrink: 1;
  max-height: var(--row-height);
  object-fit: scale-down;
  cursor: grab;
}

img:hover {
  filter: brightness(1.2);
}

img:active {
  filter: opacity(0.5);
  cursor: grabbing;
}

hr {
  margin: 2em;
  border-style: solid;
  border-width: 3px;
  border-color: var(--bg-2);
}