:root {
  --row-height: 85px;

  --bg: #120B0A;
  --bg-2: #211513;
  --bg-3: #2B1B18;
  --bg-4: #3B2621;
  --fg: #FFD8CF;

  --S: #FF3B2B;
  --A: #FF772B;
  --B: #FFB22B;
  --C: #BFA42B;
  --D: #80A46B;
  --E: #808895;
  --F: #BF4D80;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-size: 16px;
  font-family: sans-serif;
  background-color: var(--bg);
  color: var(--fg);
  margin: 1rem;
  min-width: min-content;
}

header {
  margin: 0 0 1em;
}

button {
  user-select: none;
  padding: 1em;
  background-color: var(--bg-2);
  color: var(--fg);
  font-size: 1rem;
  font-weight: bold;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  filter: brightness(1.2);
}

button:active {
  filter: brightness(0.8);
}

.tier {
  display: flex;
  flex-wrap: nowrap;
  background-color: var(--bg-2);
  border-radius: 5px;
  overflow: hidden;
  min-height: var(--row-height);
  gap: 10px;
  margin: 5px 0;
}

.tier>label {
  user-select: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
  border-radius: 5px;
  width: 2ch;
  flex-shrink: 0;
  color: var(--bg);
  font-size: 4rem;
}

.items {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  gap: 5px;
}

img {
  border-radius: 5px;
  max-height: var(--row-height);
  object-fit: scale-down;
  cursor: grab;
}

img:hover {
  filter: brightness(1.2);
}

img:active {
  filter: opacity(0.5);
  cursor: grabbing;
}

hr {
  margin: 1em;
  border-style: solid;
  border-width: 3px;
  border-color: var(--bg-2);
}